# Copia questo file in .env e compila i valori
BOT_TOKEN=il_tuo_token_da_BotFather
CHAT_ID=il_tuo_id_da_userinfobot
LAT=45.44383
LON=9.64640
RAGGIO=10
TOP_N=5
CARBURANTE=Benzina
SELF_SERVICE=true
SOGLIA=1.5
ORARIO=08:00
