# Copia questo file in .env e compila i valori
BOT_TOKEN=il_tuo_token_da_BotFather
CHAT_ID=il_tuo_id_da_userinfobot
LAT=XX.XXXXX
LON=X.XXXXX
RAGGIO=XX
TOP_N=X
CARBURANTE=X
SELF_SERVICE=true
SOGLIA=X
ORARIO=08:00
